
.navbar-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    margin-left: 5%;
  }
  
  .nav-logo-container {
    display: flex;
  }
  
  .eclipse-img {
    height: 30px;
    margin-top: 30px;
    margin-right: 0px;
    padding: 0px;
  }
  
  .company-name {
    font-weight: 700;
    font-size: 24px;
    padding: 0px;
    color: #1e1f4b;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  
  .eclipse-dot-img {
    height: 12px;
    margin-top: 40px;
    width: 12px;
    margin-right: 80px;
    margin-left: 0px;
    padding: 5px;
  }
  
  .nav-items-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
  }
  
  .nav-item {
    list-style-type: none;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
  }
  
  .try-btn {
    color: #ffffff;
    background-color: #706fe5;
    border-radius: 8px;
    border: 0px solid;
    width: 150px;
    height: 35px;
    font-weight: 600;
    cursor: pointer;
  }
  