
.entries-search-container {
    margin-top: 110px;
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 22px;
  }
  
  .show-entries-count-container {
    display: flex;
    align-items: center;
    margin-left: 0px;
  }
  
  .show-text {
    color: #49596d;
    font-size: 16px;
  }
  
  .entries-count-container {
    border: 1px solid #4776e6;
    border-radius: 5px;
    width: 60px;
    height: 25px;
    margin-left: 10px;
    background-color: #efefef;
    text-align: start;
  }
  
  .entries-count {
    margin-top: 0px;
    margin-left: 5px;
    color: #4776e6;
  }
  
  .search-entries-container {
    display: flex;
    align-items: center;
    margin-left: 130px;
  }
  
  .search-input {
    width: 288px;
    height: 30px;
    border-radius: 4px;
    border: 1.2px solid #4776e6;
    margin-left: 10px;
  }
  
  .entries {
    margin-left: 20px;
  }
  
  .data-table {
    border-collapse: collapse;
    width: 50%;
    margin-left: 20px;
  }
  
  .service-profit {
    margin-right: 0px;
  }
  
  .data-table th,
  .data-table td {
    border-left: none;
    text-align: left;
    padding: 12px;
  }
  
  thead {
    background-image: linear-gradient(to right, #8e54e9, #4776e6);
    border: 0px;
  }
  
  th {
    color: #ffffff;
  }
  
  .data-table th:first-child {
    border-left: 0px;
  }
  
  .table-row {
    border: 0px, 1px, 1px, 0px;
    border-bottom: 0.5px solid #6b7280;
    border-right: 0.5px solid #6b7280;
  }
  
  .table-head {
    border: none;
  }
  
  td {
    color: #49596d;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
    line-height: 22.5px;
  }
  
  .previous-pagination-container {
    display: flex;
    margin-top: 20px;
    width: 53%;
    justify-content: space-between;
    align-items: center;
  }
  
  .show-total-text {
    font-size: 14px;
    color: #49596d;
    font-weight: 400;
  }
  
  .previous-btn {
    color: #4776e6;
    background-color: transparent;
    border: 1px solid #4776e6;
    padding: 8px;
    height: 30px;
    margin-top: 12px;
    margin-left: 10px;
    border-radius: 5px;
    width: 70px;
  }
  
  .pagination {
    background-color: transparent;
    color: #4776e6;
    padding: 5px;
    height: 30px;
    width: 38px;
    margin-top: 12px;
    border: 0px;
    margin-left: 12px;
    border: 1px solid #4776e6;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .highlighted {
    background-image: linear-gradient(#8e54e9, #4776e6);
    color: #ffffff;
    border-radius: 5px;
  }
  
  .buttons {
    display: flex;
  }
  .dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }